.env_keys
.PhpStorm*
.RubyMine*
.WebStorm*
.ICEauthority
.android/
.antigen/
.aws/
.bash_history
.cache/
.cargo/
.chef/
.config/
.cups/
.dbshell
.docker/
.dotfiles/
.emulator_console_auth_token
.electron*
.esd_auth
.gimp-2.8/
.glide/
.gradle/
.gnupg/
.java/
.klei/
.kube/
.local/
!.local/bin/backup
!.local/share/Baba_Is_You/
!.local/share/direnv/
!.local/share/notes-up/
.macromedia/
.meteor*
.minikube/
.mongorc.js
.mpv/
.mysql*
.node*
.npm/
.openshot_qt/
.openvpn/
.packer.d/
.pki/
.psql_history
.putty/
.python-history
.rnd
.sane/
.ssh/
!.ssh/config
.steam*
.var/
.vim/
.viminfo
.wget-hsts
.wine/
.yarn*
.zoom*
.zsh_history

